<div id="About" style = "color:rgb(255, 250, 255);" >_</div>
<br>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"></p>
    <p style = "margin-left: 25px;" class= "text-normal">

        I was born and raised in the Bay Area in in California. I am a student at the University of Michigan
        where I am studying Computer Science. I love to go to the gym, play chess, and watch the Lakers win.
        I love trying new cuisines and exploring new places, and I hope to one day be fortunate enough to visit 
        Antartica.
    <br>
    <br>
        I am interested in web/app development, and creating technologies and interfaces that can enrich people's lives.
        I have interned for Motive, an app which helps friends motivate each other to accomplish their goals. I have also
        worked with the Michigan School of Public Health to help develop 1Cademy, a platform which allows COVID-19 researchers
        at the nation's premier institutions to colloborate on epidemiological research.
   
    <br>
    <br>
    <br>
    <hr>
    </p>